{
  "resources":[],
  "defaultConfig":{
    "buildType":"develop",
    "libraryDir":"lib/",
    "api":"CoreEngine"
  },
  "buildDirs":[],
  "compile":[
    {
      "path":"main.js",
      "sourceType":"mod"
    },
    {
      "path":"launcher.js",
      "sourceType":"launcher"
    },
    {
      "path":"preloader.js",
      "sourceType":"preloader"
    }
  ],
  "nativeDirs":[
    {
      "path":"native"
    }
  ],
  "javaDirs":[
    {
      "path":"java"
    }
  ]
}